html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: url("pildid/sky.jpg") no-repeat center center fixed;
  background-size: cover;

  color: white;
  font-family: Arial, sans-serif;
}
